*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(132, 136, 158);
}
.conteiner{
    /* text-align: center; */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul,li{
    font-size: 17px;
}
footer{
    text-align: center;
}
footer{
    margin-top: 50px;
    margin-bottom: 50px;
}